.container{
    width:100%;
    height:100vh;
    overflow:hidden;
    font-family: var(--font-code);
    position: relative;
}

.textBox{
    position:relative;
    left:8%;
    top:45%;
    transform:translateY(-50%);
    z-index:2;

    font-size:65px;
    color:#e6e6e6;

    pointer-events:none;
}

.word{
    color:#88c8ff;
    margin-left:10px;
}

.cursor{
    color:#88c8ff;
    margin-left:5px;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}